@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<img src="https://www-assets.perkbox.com/media/2105/original/97af4beafdceba642e78.jpg">
<p> A Manager is a person who manages or is in charge of something. Managers can control departments in companies, or guide the people who work for them. Managers must often make decisions about things.</p>
<p>The manager is responsible for overseeing and leading the work of a group of people in many instances. The manager is also responsible for planning and maintaining work systems, procedures, and policies that enable and encourage the optimum performance of its people and other resources within a business unit.</p>